@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;1,400;1,500&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto Mono', monospace;
}

.main_div{
    width: 100vw;
    height: 100vh;
    /* background-color: #BDF91D; */
    background-image: url('images/bg.jpg');
    background-size: cover;
    display: grid;
    place-items: center;
}

.music_container{
    width: 35rem;
    height: 65rem;
    background-color: #000000;
    border-radius: 2rem;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0,0,0,0.2);
    padding: 3 rem;
    text-align: center;
}

.music_container #title{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    color: rgb(241, 8, 8);
    margin: 2rem 0 0.5rem 0;
    font: 2.5rem;
    font-weight: 500;
    font-size:x-large;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.3);;
}

.music_container #artist{
    color: #cccaca;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    margin-bottom: 4rem;
    font-weight: 300;
}



.img_container{
    width: 250px;
    height: 250px;
    margin: auto;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(231, 7, 7, 0.932);
}

.music_controls{
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  margin: auto;
  margin-top: 5rem;
}

.music_controls .fas{
    color: #111111;
    font-size: 2rem;
    cursor: pointer;
    filter: drop-shadow(0 1.2rem 3rem 0.5rem rgba(226, 8, 8, 0.973));
}

.music_controls .main_button {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #111;
    color: #f6f6f6;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    align-items: center;

}

.music_controls .fas:hover{
    color: grey;
}

.music_controls .fa-play:hover {
    background-color: #f6f6f6;
    color: #111;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(241, 7, 7, 0.842);
}

.anime {
    animation: rotatePlayer 8s linear infinite;
}

#prev{
    color: aqua;
}
#next{
    color: aqua;
}
#prev:hover{
    color:steelblue;
}
#next:hover{
    color:steelblue;
}


audio{
    margin-top: 35px;
    border-radius: 25px;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(105, 102, 102, 0.932);
}

@keyframes rotatePlayer{
    from { 
        transform: rotate(0deg);}
    to {
        transform: rotate(360deg);
    }

}


